<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WatchDog</title>
</head>
<body>
    <main>
        <section>
            <h1>Websites</h1>
            <hr>
            <div>
				<h5>Add website</h5>
				<div>
					<label for="addWebsite">URL of website</label>
					<input id="addWebsite" type="text" placeholder="Write URL">
				</div>
				<button onClick="addWebsite(document.getElementById('addWebsite').value)">Add</button>
                </div>
                <div>
                    <div>
                        {% for website in websites %}
                        <div>
                            <div>
                                <h5><a href="website/{{ website }}">{{ website }}</a></h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="{{ url_for('static', path='/js/index.js') }}"></script>
</body>
</html>
